pipeline/PL_TRANS_ISRS_IA.json
{
	"name": "PL_TRANS_ISRS_IA",
	"properties": {
		"activities": [
			{
				"name": "Get File Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_IP_ISRS_SLY",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterRelevantFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterRelevantFiles').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "File Name_Det",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Filename_var_xstr",
								"value": {
									"value": "@item().Name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IA Type Check Sally BSG",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "File Name_Det",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(contains(variables('Filename_var_xstr'),'IA'), contains(variables('Filename_var_xstr'),'BSG') )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ISeries_Sally_IA_DF",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "DF_ISRS_SLY_IA",
												"type": "DataFlowReference",
												"parameters": {
													"Filename": {
														"value": "'@{variables('Filename_var_xstr')}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"Source": {
														"Filename": {
															"value": "@variables('Filename_var_xstr')",
															"type": "Expression"
														}
													}
												}
											},
											"compute": {
												"coreCount": 16,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									},
									{
										"name": "Archival Delete BSG",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Archival Move BSG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage1",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Archival Move BSG",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ISeries_Sally_IA_DF",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ABLB_ARCH",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Write Failure Log to DB for each BSG",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Delete source file BSG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_ins_adf_exec_dtls]",
											"storedProcedureParameters": {
												"ERROR_MESSAGE": {
													"value": {
														"value": "@{activity('ISeries_Sally_IA_DF').Error.message}",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_END_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionEndTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"EXECUTION_START_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionStartTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"INSERT_COUNT": {
													"value": null,
													"type": "Int32"
												},
												"PIPELINE_ID": {
													"value": {
														"value": "@{activity('Get File Details').PipelineRunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@{activity('Get File Details').PipelineName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_STATUS": {
													"value": {
														"value": "@{activity('Get File Details').Status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"READ_COUNT": {
													"value": null,
													"type": "Int32"
												},
												"UPDATE_DATE_TIME": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Delete source file BSG",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Copy file to error folder BSG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage1",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Copy file to error folder BSG",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ISeries_Sally_IA_DF",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ABLB_ERR",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Write success Log to DB BSG",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Archival Delete BSG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_ins_adf_exec_dtls]",
											"storedProcedureParameters": {
												"ERROR_MESSAGE": {
													"value": null,
													"type": "String"
												},
												"EXECUTION_END_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionEndTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"EXECUTION_START_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionStartTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"INSERT_COUNT": {
													"value": {
														"value": "@activity('ISeries_Sally_IA_DF').output.runStatus.metrics.Sink.rowswritten",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"PIPELINE_ID": {
													"value": {
														"value": "@{activity('Get File Details').PipelineRunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@{activity('Get File Details').PipelineName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_STATUS": {
													"value": {
														"value": "@{activity('Get File Details').Status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"READ_COUNT": {
													"value": {
														"value": "@activity('ISeries_Sally_IA_DF').output.runStatus.metrics.Sink.sources.Source.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"UPDATE_DATE_TIME": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "ISeries_BSG_IA_DF",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "DF_ISRS_BSG_IA",
												"type": "DataFlowReference",
												"parameters": {
													"Filename": {
														"value": "'@{variables('Filename_var_xstr')}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"Source": {
														"Filename": {
															"value": "@variables('Filename_var_xstr')",
															"type": "Expression"
														}
													}
												}
											},
											"compute": {
												"coreCount": 16,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									},
									{
										"name": "Archival Delete",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Archival Move",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage1",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Archival Move",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ISeries_BSG_IA_DF",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ABLB_ARCH",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Write Failure Log to DB for each",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Delete source file",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_ins_adf_exec_dtls]",
											"storedProcedureParameters": {
												"ERROR_MESSAGE": {
													"value": {
														"value": "@{activity('ISeries_BSG_IA_DF').Error.message}",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_END_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionEndTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"EXECUTION_START_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionStartTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"INSERT_COUNT": {
													"value": null,
													"type": "Int32"
												},
												"PIPELINE_ID": {
													"value": {
														"value": "@{activity('Get File Details').PipelineRunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@{activity('Get File Details').PipelineName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_STATUS": {
													"value": {
														"value": "@{activity('Get File Details').Status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"READ_COUNT": {
													"value": null,
													"type": "Int32"
												},
												"UPDATE_DATE_TIME": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ACTIVITY_ID": {
													"value": {
														"value": "@activity('Get File Details').ActivityRunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"FILE_NAME": {
													"value": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Delete source file",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Copy file to error folder",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage1",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Copy file to error folder",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ISeries_BSG_IA_DF",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ABLB_ERR",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Write success Log to DB",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Archival Delete",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_ins_adf_exec_dtls]",
											"storedProcedureParameters": {
												"ERROR_MESSAGE": {
													"value": null,
													"type": "String"
												},
												"EXECUTION_END_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionEndTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"EXECUTION_START_DATE": {
													"value": {
														"value": "@{activity('Get File Details').ExecutionStartTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"INSERT_COUNT": {
													"value": {
														"value": "@activity('ISeries_BSG_IA_DF').output.runStatus.metrics.Sink.rowswritten",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"PIPELINE_ID": {
													"value": {
														"value": "@{activity('Get File Details').PipelineRunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@{activity('Get File Details').PipelineName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_STATUS": {
													"value": {
														"value": "@{activity('Get File Details').Status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"READ_COUNT": {
													"value": {
														"value": "@activity('ISeries_BSG_IA_DF').output.runStatus.metrics.Sink.sources.Source.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"UPDATE_DATE_TIME": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ACTIVITY_ID": {
													"value": {
														"value": "@activity('Get File Details').ActivityRunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"FILE_NAME": {
													"value": {
														"value": "@variables('Filename_var_xstr')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Write Failure Log to DB",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get File Details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ins_adf_exec_dtls]",
					"storedProcedureParameters": {
						"ERROR_MESSAGE": {
							"value": {
								"value": "@{activity('Get File Details').Error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"EXECUTION_END_DATE": {
							"value": {
								"value": "@{activity('Get File Details').ExecutionEndTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EXECUTION_START_DATE": {
							"value": {
								"value": "@{activity('Get File Details').ExecutionStartTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"INSERT_COUNT": {
							"value": null,
							"type": "Int32"
						},
						"PIPELINE_ID": {
							"value": {
								"value": "@{activity('Get File Details').PipelineRunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PIPELINE_NAME": {
							"value": {
								"value": "@{activity('Get File Details').PipelineName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PIPELINE_STATUS": {
							"value": {
								"value": "@{activity('Get File Details').Status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"READ_COUNT": {
							"value": null,
							"type": "Int32"
						},
						"UPDATE_DATE_TIME": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FilterRelevantFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get File Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File Details').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().type,'File'),contains(item().name,'IA'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Filename_var_xstr": {
				"type": "String"
			},
			"File_List": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-25T10:15:23Z"
	}
}