pipeline/Populate Transaction Details.json
{
	"name": "Populate Transaction Details",
	"properties": {
		"activities": [
			{
				"name": "Get All File Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Input_Dataset_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All File Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All File Details').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "File Name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "File_name_var",
								"value": {
									"value": "@item().Name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "File Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "File Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "File_date_var",
								"value": {
									"value": "@substring(item().Name, 9,8)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "File Type Check",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "File Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@concat(substring(item().Name,0,8),substring(item().Name,27,2) )",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "INVTRNEEMA",
										"activities": [
											{
												"name": "File Type Variable",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "File_type_var",
													"value": "Manhattan Cycles count"
												}
											},
											{
												"name": "Read_Line_Dataflow",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "File Type Variable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "Read_Line_Dataflow",
														"type": "DataFlowReference",
														"parameters": {
															"FileNameForDF": {
																"value": "'@{variables('File_name_var')}'",
																"type": "Expression"
															},
															"FileTypeForDF": {
																"value": "'@{variables('File_type_var')}'",
																"type": "Expression"
															},
															"FileDateForDF": {
																"value": "'@{variables('File_date_var')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"source1": {
																"Filename": {
																	"value": "@variables('File_name_var')",
																	"type": "Expression"
																}
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"File_name_var": {
				"type": "String"
			},
			"File_date_var": {
				"type": "String"
			},
			"File_type_var": {
				"type": "String"
			},
			"Record_count_var": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-04T09:16:29Z"
	}
}