templates/PL_TRANS_ISRS_SH/PL_TRANS_ISRS_SH.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureBlobStorage1": {
			"type": "string"
		},
		"AzureSqlDatabase1": {
			"type": "string"
		},
		"AzureBlobStorage2": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRANS_ISRS_SH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File Details Sally",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ABLB_IP_ISRS_SLY",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "File Name_Det",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Filename_var_xstr",
										"value": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Transfers File Type Check Sally BSG",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "File Name_Det",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(contains(variables('Filename_var_xstr'),'SH'), contains(variables('Filename_var_xstr'),'BSG') )",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "ISeries Sally SH Dataflow",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "DF_ISRS_SLY_SH",
														"type": "DataFlowReference",
														"parameters": {
															"Filename": {
																"value": "'@{variables('Filename_var_xstr')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"source": {
																"Filename": {
																	"value": "@variables('Filename_var_xstr')",
																	"type": "Expression"
																}
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "Archival Move",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "ISeries Sally SH Dataflow",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_ARCH",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Archival Delete",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Archival Move",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "[parameters('AzureBlobStorage1')]",
															"type": "LinkedServiceReference"
														}
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Write success Log to DB",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Archival Delete",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_ins_adf_exec_dtls]",
													"storedProcedureParameters": {
														"ERROR_MESSAGE": {
															"value": null,
															"type": "String"
														},
														"EXECUTION_END_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionEndTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"EXECUTION_START_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionStartTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"INSERT_COUNT": {
															"value": {
																"value": "@activity('ISeries Sally SH Dataflow').output.runStatus.metrics.Sink.rowswritten",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"PIPELINE_ID": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineRunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_NAME": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_STATUS": {
															"value": {
																"value": "@{activity('Get File Details Sally').Status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"READ_COUNT": {
															"value": {
																"value": "@activity('ISeries Sally SH Dataflow').output.runStatus.metrics.Sink.sources.Source.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"UPDATE_DATE_TIME": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ACTIVITY_ID": {
															"value": {
																"value": "@activity('Get File Details Sally').ActivityRunId",
																"type": "Expression"
															}
														},
														"FILE_NAME": {
															"value": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "[parameters('AzureSqlDatabase1')]",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copy file to error folder",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "ISeries Sally SH Dataflow",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_ERR",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Delete source file",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copy file to error folder",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "[parameters('AzureBlobStorage1')]",
															"type": "LinkedServiceReference"
														}
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Write Failure Log to DB for each",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Delete source file",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_ins_adf_exec_dtls]",
													"storedProcedureParameters": {
														"ERROR_MESSAGE": {
															"value": {
																"value": "@{activity('ISeries Sally SH Dataflow').Error.message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"EXECUTION_END_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionEndTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"EXECUTION_START_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionStartTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"INSERT_COUNT": {
															"value": null,
															"type": "Int32"
														},
														"PIPELINE_ID": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineRunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_NAME": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_STATUS": {
															"value": {
																"value": "@{activity('Get File Details Sally').Status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"READ_COUNT": {
															"value": null,
															"type": "Int32"
														},
														"UPDATE_DATE_TIME": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ACTIVITY_ID": {
															"value": {
																"value": "@activity('Get File Details Sally').ActivityRunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"FILE_NAME": {
															"value": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "[parameters('AzureSqlDatabase1')]",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "ISeries_BSG_SH_DF",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "DF_ISRS_BSG_SH",
														"type": "DataFlowReference",
														"parameters": {
															"Filename": {
																"value": "'@{variables('Filename_var_xstr')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"source": {
																"Filename": {
																	"value": "@variables('Filename_var_xstr')",
																	"type": "Expression"
																}
															}
														}
													},
													"compute": {
														"coreCount": 16,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "BSG File Archival Move",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "ISeries_BSG_SH_DF",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_ARCH",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "BSG Archival Delete",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "BSG File Archival Move",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "[parameters('AzureBlobStorage1')]",
															"type": "LinkedServiceReference"
														}
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Write BSG success Log to DB",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "BSG Archival Delete",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_ins_adf_exec_dtls]",
													"storedProcedureParameters": {
														"ERROR_MESSAGE": {
															"value": null,
															"type": "String"
														},
														"EXECUTION_END_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionEndTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"EXECUTION_START_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionStartTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"INSERT_COUNT": {
															"value": {
																"value": "@activity('ISeries_BSG_SH_DF').output.runStatus.metrics.Sink.rowswritten",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"PIPELINE_ID": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineRunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_NAME": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_STATUS": {
															"value": {
																"value": "@{activity('Get File Details Sally').Status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"READ_COUNT": {
															"value": {
																"value": "@activity('ISeries_BSG_SH_DF').output.runStatus.metrics.Sink.sources.Source.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"UPDATE_DATE_TIME": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ACTIVITY_ID": {
															"value": {
																"value": "@activity('Get File Details Sally').ActivityRunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"FILE_NAME": {
															"value": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "[parameters('AzureSqlDatabase1')]",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copy BSG file to error folder",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "ISeries_BSG_SH_DF",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_ERR",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Delete BSG source file",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copy BSG file to error folder",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "[parameters('AzureBlobStorage1')]",
															"type": "LinkedServiceReference"
														}
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Write BSG Failure Log to DB for each",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Delete BSG source file",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_ins_adf_exec_dtls]",
													"storedProcedureParameters": {
														"ERROR_MESSAGE": {
															"value": {
																"value": "@{activity('ISeries_BSG_SH_DF').Error.message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"EXECUTION_END_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionEndTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"EXECUTION_START_DATE": {
															"value": {
																"value": "@{activity('Get File Details Sally').ExecutionStartTime}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"INSERT_COUNT": {
															"value": null,
															"type": "Int32"
														},
														"PIPELINE_ID": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineRunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_NAME": {
															"value": {
																"value": "@{activity('Get File Details Sally').PipelineName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PIPELINE_STATUS": {
															"value": {
																"value": "@{activity('Get File Details Sally').Status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"READ_COUNT": {
															"value": null,
															"type": "Int32"
														},
														"UPDATE_DATE_TIME": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"ACTIVITY_ID": {
															"value": {
																"value": "@activity('Get File Details Sally').ActivityRunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"FILE_NAME": {
															"value": {
																"value": "@variables('Filename_var_xstr')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "[parameters('AzureSqlDatabase1')]",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Write Failure Log to DB",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get File Details Sally",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ins_adf_exec_dtls]",
							"storedProcedureParameters": {
								"ERROR_MESSAGE": {
									"value": {
										"value": "@{activity('Get File Details Sally').Error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"EXECUTION_END_DATE": {
									"value": {
										"value": "@{activity('Get File Details Sally').ExecutionEndTime}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"EXECUTION_START_DATE": {
									"value": {
										"value": "@{activity('Get File Details Sally').ExecutionStartTime}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"INSERT_COUNT": {
									"value": null,
									"type": "Int32"
								},
								"PIPELINE_ID": {
									"value": {
										"value": "@{activity('Get File Details Sally').PipelineRunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PIPELINE_NAME": {
									"value": {
										"value": "@{activity('Get File Details Sally').PipelineName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PIPELINE_STATUS": {
									"value": {
										"value": "@{activity('Get File Details Sally').Status}",
										"type": "Expression"
									},
									"type": "String"
								},
								"READ_COUNT": {
									"value": null,
									"type": "Int32"
								},
								"UPDATE_DATE_TIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ACTIVITY_ID": {
									"value": {
										"value": "@activity('Get File Details Sally').ActivityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"FILE_NAME": {
									"value": {
										"value": "@variables('Filename_var_xstr')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('AzureSqlDatabase1')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get File Details Sally",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File Details Sally').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type,'File'),contains(item().name,'SH.txt'))",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"Filename_var_xstr": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-06-24T06:18:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ABLB_IP_ISRS_SLY')]",
				"[concat(variables('factoryId'), '/dataflows/DF_ISRS_SLY_SH')]",
				"[concat(variables('factoryId'), '/datasets/DS_ABLB_IP_ISRS_SLY_DYN')]",
				"[concat(variables('factoryId'), '/datasets/DS_ABLB_ARCH')]",
				"[concat(variables('factoryId'), '/datasets/DS_ABLB_ERR')]",
				"[concat(variables('factoryId'), '/dataflows/DF_ISRS_BSG_SH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_IP_ISRS_SLY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "iseries_sally",
						"container": "adftest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Banner ",
						"type": "String"
					},
					{
						"name": "Business_date ",
						"type": "String"
					},
					{
						"name": "TXN_TYPE ",
						"type": "String"
					},
					{
						"name": "TXN_COUNT ",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_ISRS_SLY_SH')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_OP_ISRS",
								"type": "DatasetReference"
							},
							"name": "sink"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"parameters{",
						"     Filename as string",
						"}",
						"source(output(",
						"          Column_1 as string,",
						"          Column_2 as string,",
						"          Column_3 as string,",
						"          Column_4 as string,",
						"          Column_5 as string,",
						"          Column_6 as string,",
						"          Column_7 as string,",
						"          Column_8 as string,",
						"          Column_9 as string,",
						"          Column_10 as string,",
						"          Column_11 as string,",
						"          Column_12 as string,",
						"          Column_13 as string,",
						"          Column_14 as string,",
						"          Column_15 as string,",
						"          Column_16 as string,",
						"          Column_17 as string,",
						"          Column_18 as string,",
						"          Column_19 as string,",
						"          Column_20 as string,",
						"          Column_21 as string,",
						"          Column_22 as string,",
						"          Column_23 as string,",
						"          Column_24 as string,",
						"          Column_25 as string,",
						"          Column_26 as string,",
						"          Column_27 as string,",
						"          Column_28 as string,",
						"          Column_29 as string,",
						"          Column_30 as string,",
						"          Column_31 as string,",
						"          Column_32 as string,",
						"          Column_33 as string,",
						"          Column_34 as string,",
						"          Column_35 as string,",
						"          Column_36 as string,",
						"          Column_37 as string,",
						"          Column_38 as string,",
						"          Column_39 as string,",
						"          Column_40 as string,",
						"          Column_41 as string,",
						"          Column_42 as string,",
						"          Column_43 as string,",
						"          Column_44 as string,",
						"          Column_45 as string,",
						"          Column_46 as string,",
						"          Column_47 as string,",
						"          Column_48 as string,",
						"          Column_49 as string,",
						"          Column_50 as string,",
						"          Column_51 as string,",
						"          Column_52 as string,",
						"          Column_53 as string,",
						"          Column_54 as string,",
						"          Column_55 as string,",
						"          Column_56 as string,",
						"          Column_57 as string,",
						"          Column_58 as string,",
						"          Column_59 as string,",
						"          Column_60 as string,",
						"          Column_61 as string,",
						"          Column_62 as string,",
						"          Column_63 as string,",
						"          Column_64 as string,",
						"          Column_65 as string,",
						"          Column_66 as string,",
						"          Column_67 as string,",
						"          Column_68 as string,",
						"          Column_69 as string,",
						"          Column_70 as string,",
						"          Column_71 as string,",
						"          Column_72 as string,",
						"          Column_73 as string,",
						"          Column_74 as string,",
						"          Column_75 as string,",
						"          Column_76 as string,",
						"          Column_77 as string,",
						"          Column_78 as string,",
						"          Column_79 as string,",
						"          Column_80 as string,",
						"          Column_81 as string,",
						"          Column_82 as string,",
						"          Column_83 as string,",
						"          Column_84 as string,",
						"          Column_85 as string,",
						"          Column_86 as string,",
						"          Column_87 as string,",
						"          Column_88 as string,",
						"          Column_89 as string,",
						"          Column_90 as string,",
						"          Column_91 as string,",
						"          Column_92 as string,",
						"          Column_93 as string,",
						"          Column_94 as string,",
						"          Column_95 as string,",
						"          Column_96 as string,",
						"          Column_97 as string,",
						"          Column_98 as string,",
						"          Column_99 as string,",
						"          Column_100 as string,",
						"          Column_101 as string,",
						"          Column_102 as string,",
						"          Column_103 as string,",
						"          Column_104 as string,",
						"          Column_105 as string,",
						"          Column_106 as string,",
						"          Column_107 as string,",
						"          Column_108 as string,",
						"          Column_109 as string,",
						"          Column_110 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source",
						"source aggregate(groupBy(Column_7),",
						"     {Record Count} = toInteger(count(Column_11) )) ~> aggregate1",
						"aggregate1 derive(TRAN_TYPE_ID = iif(endsWith($Filename,\"SH.txt\"), 4, 0)) ~> derivedColumn1",
						"derivedColumn1 derive(BRAND = \"SALLY\",",
						"          SHP_RECORD_COUNT = iif(TRAN_TYPE_ID==4,{Record Count},toInteger(null())),",
						"          FILENAME = $Filename,",
						"          AGG_ID = 30,",
						"          TRANS_DATE = toDate(Column_7, \"yyyyMMdd\" )) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          AGG_ID,",
						"          BRAND,",
						"          TRANS_DATE,",
						"          TRAN_TYPE_ID,",
						"          SHP_RECORD_COUNT,",
						"          FILENAME",
						"     )) ~> sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ABLB_IP_ISRS_SLY_DYN')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_OP_ISRS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_IP_ISRS_SLY_DYN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"folderPath": "iseries_sally",
						"container": "adftest"
					},
					"columnDelimiter": ";",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_ARCH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage2')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "archival",
						"container": "adftest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Banner",
						"type": "String"
					},
					{
						"name": "Business_date",
						"type": "String"
					},
					{
						"name": "Transaction Type",
						"type": "String"
					},
					{
						"name": "Record Count",
						"type": "String"
					},
					{
						"name": "Transaction Type ID",
						"type": "String"
					},
					{
						"name": "AGG_ID",
						"type": "String"
					},
					{
						"name": "SALES_RCORD_COUNT",
						"type": "String"
					},
					{
						"name": "RETURN_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "IA_CC_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "STS_SHP_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "STS_RCV_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "DSC_2_STORE_ASN_ACK_RECORD_COUNT",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_ERR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage2')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "error",
						"container": "adftest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Banner",
						"type": "String"
					},
					{
						"name": "Business_date",
						"type": "String"
					},
					{
						"name": "Transaction Type",
						"type": "String"
					},
					{
						"name": "Record Count",
						"type": "String"
					},
					{
						"name": "Transaction Type ID",
						"type": "String"
					},
					{
						"name": "AGG_ID",
						"type": "String"
					},
					{
						"name": "SALES_RCORD_COUNT",
						"type": "String"
					},
					{
						"name": "RETURN_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "IA_CC_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "STS_SHP_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "STS_RCV_RECORD_COUNT",
						"type": "String"
					},
					{
						"name": "DSC_2_STORE_ASN_ACK_RECORD_COUNT",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_ISRS_BSG_SH')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ABLB_IP_ISRS_SLY_DYN",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ASQL_OP_ISRS",
								"type": "DatasetReference"
							},
							"name": "sink"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"parameters{",
						"     Filename as string",
						"}",
						"source(output(",
						"          Column_1 as string,",
						"          Column_2 as string,",
						"          Column_3 as string,",
						"          Column_4 as string,",
						"          Column_5 as string,",
						"          Column_6 as string,",
						"          Column_7 as string,",
						"          Column_8 as string,",
						"          Column_9 as string,",
						"          Column_10 as string,",
						"          Column_11 as string,",
						"          Column_12 as string,",
						"          Column_13 as string,",
						"          Column_14 as string,",
						"          Column_15 as string,",
						"          Column_16 as string,",
						"          Column_17 as string,",
						"          Column_18 as string,",
						"          Column_19 as string,",
						"          Column_20 as string,",
						"          Column_21 as string,",
						"          Column_22 as string,",
						"          Column_23 as string,",
						"          Column_24 as string,",
						"          Column_25 as string,",
						"          Column_26 as string,",
						"          Column_27 as string,",
						"          Column_28 as string,",
						"          Column_29 as string,",
						"          Column_30 as string,",
						"          Column_31 as string,",
						"          Column_32 as string,",
						"          Column_33 as string,",
						"          Column_34 as string,",
						"          Column_35 as string,",
						"          Column_36 as string,",
						"          Column_37 as string,",
						"          Column_38 as string,",
						"          Column_39 as string,",
						"          Column_40 as string,",
						"          Column_41 as string,",
						"          Column_42 as string,",
						"          Column_43 as string,",
						"          Column_44 as string,",
						"          Column_45 as string,",
						"          Column_46 as string,",
						"          Column_47 as string,",
						"          Column_48 as string,",
						"          Column_49 as string,",
						"          Column_50 as string,",
						"          Column_51 as string,",
						"          Column_52 as string,",
						"          Column_53 as string,",
						"          Column_54 as string,",
						"          Column_55 as string,",
						"          Column_56 as string,",
						"          Column_57 as string,",
						"          Column_58 as string,",
						"          Column_59 as string,",
						"          Column_60 as string,",
						"          Column_61 as string,",
						"          Column_62 as string,",
						"          Column_63 as string,",
						"          Column_64 as string,",
						"          Column_65 as string,",
						"          Column_66 as string,",
						"          Column_67 as string,",
						"          Column_68 as string,",
						"          Column_69 as string,",
						"          Column_70 as string,",
						"          Column_71 as string,",
						"          Column_72 as string,",
						"          Column_73 as string,",
						"          Column_74 as string,",
						"          Column_75 as string,",
						"          Column_76 as string,",
						"          Column_77 as string,",
						"          Column_78 as string,",
						"          Column_79 as string,",
						"          Column_80 as string,",
						"          Column_81 as string,",
						"          Column_82 as string,",
						"          Column_83 as string,",
						"          Column_84 as string,",
						"          Column_85 as string,",
						"          Column_86 as string,",
						"          Column_87 as string,",
						"          Column_88 as string,",
						"          Column_89 as string,",
						"          Column_90 as string,",
						"          Column_91 as string,",
						"          Column_92 as string,",
						"          Column_93 as string,",
						"          Column_94 as string,",
						"          Column_95 as string,",
						"          Column_96 as string,",
						"          Column_97 as string,",
						"          Column_98 as string,",
						"          Column_99 as string,",
						"          Column_100 as string,",
						"          Column_101 as string,",
						"          Column_102 as string,",
						"          Column_103 as string,",
						"          Column_104 as string,",
						"          Column_105 as string,",
						"          Column_106 as string,",
						"          Column_107 as string,",
						"          Column_108 as string,",
						"          Column_109 as string,",
						"          Column_110 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source",
						"source aggregate(groupBy(Column_7),",
						"     {Record Count} = toInteger(count(Column_11) )) ~> aggregate1",
						"aggregate1 derive(TRAN_TYPE_ID = iif(or( endsWith($Filename, \"SH.txt\"), startsWith($Filename,\"INVTRNEE_BSGDSSHIP\") ),4,0 )) ~> derivedColumn1",
						"derivedColumn1 derive(BRAND = \"BSG\",",
						"          SHP_RECORD_COUNT = iif(TRAN_TYPE_ID==4,{Record Count},toInteger(null())),",
						"          FILENAME = $Filename,",
						"          AGG_ID = 30,",
						"          TRANS_DATE = toDate(Column_7, \"yyyyMMdd\" )) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          AGG_ID,",
						"          BRAND,",
						"          TRANS_DATE,",
						"          TRAN_TYPE_ID,",
						"          SHP_RECORD_COUNT,",
						"          FILENAME",
						"     )) ~> sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ABLB_IP_ISRS_SLY_DYN')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_OP_ISRS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_OP_ISRS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "TRN_WMS_CNT"
				}
			},
			"dependsOn": []
		}
	]
}